#Code4SA #c4sa_svg {
  border: 1px #CCC solid;
}
#Code4SA #c4sa_logo {
  font-size: 8pt;
  text-align: right;
  color: #558800;
  float: right;
}
#Code4SA #c4sa_loading_container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(256, 256, 256, 0.8);
  text-align: center;
  z-index: 5000;
}
#Code4SA #c4sa_loading_container #progtext {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 200px;
  height: 200px;
  margin: auto;
  font-size: 32px;
  font-weight: bold;
}
#Code4SA #c4sa_map {
  cursor: pointer;
}
#Code4SA #c4sa_areas .province {
  fill: #444;
  stroke-width: 8;
}
#Code4SA #c4sa_areas .municipality {
  fill: #666;
  display: none;
}
#Code4SA #c4sa_areas .ward {
  fill: #A00;
  display: none;
}
#Code4SA #c4sa_map.level-0 .level-0 {
  display: block;
}
#Code4SA #c4sa_map.level-0 .level-1 {
  display: none;
}
#Code4SA #c4sa_map.level-0 .level-2 {
  display: none;
}
#Code4SA #c4sa_map.level-1 .level-0 {
  display: block;
}
#Code4SA #c4sa_map.level-1 .level-1 {
  display: block;
}
#Code4SA #c4sa_map.level-1 .level-2 {
  display: none;
}
#Code4SA #c4sa_map.level-2 .level-0 {
  display: block;
}
#Code4SA #c4sa_map.level-2 .level-1 {
  display: block;
}
#Code4SA #c4sa_map.level-2 .level-2 {
  display: block;
}
#Code4SA #c4sa_resetdiv {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 6000;
}
#Code4SA #c4sa_hovertext {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
#Code4SA #c4sa_hoverobj {
  fill: white;
  stroke: none;
  fill-opacity: 0.5;
  pointer-events: none;
}
#Code4SA .border {
  fill: none;
  stroke: white;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
#Code4SA .overlay {
  position: absolute;
  background-color: #FFF;
  padding: 10px;
  border: 1px #CCC solid;
  height: auto;
  overflow: hidden;
  display: none;
  font-size: 9pt;
  z-index: 5000;
  top: 0px;
  left: 0px;
  margin: 0px;
}
#Code4SA .overlay h3 {
  margin: 0px auto;
  line-height: 1em;
}
#Code4SA .overlay table {
  margin-bottom: 0px;
}
#Code4SA .overlay table tr th {
  border-bottom: 1px #444 solid;
  padding: 2px 5px;
  text-align: center;
}
#Code4SA .overlay table tr td {
  padding: 2px 5px;
  background-color: #EEE;
  border: 1px #FFF solid;
  text-align: center;
}
#Code4SA #c4sa_overlay {
  width: 400px;
}
#Code4SA #c4sa_seats_overlay {
  width: 200px;
}
#Code4SA #c4sa_seats_container:before,
#Code4SA #c4sa_seats_container:after {
  content: "";
  display: table;
}
#Code4SA #c4sa_seats_container:after {
  clear: both;
}
#Code4SA #c4sa_seats_container {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
#Code4SA #c4sa_seats_container .seat {
  width: 10px;
  height: 10px;
  border: 1px #666 solid;
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: #444;
  opacity: 0.5;
}
#Code4SA #c4sa_seats_container div.active .seat {
  opacity: 1;
}
